Mvc4.Test/Service References/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfAPI/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfAPI/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfAPI/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_AddWife_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWife" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddWife_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWifeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddPassportInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPassportInfo" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddPassportInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPassportInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="AddWife">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AddWife" message="tns:IEmployeeService_AddWife_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AddWifeResponse" message="tns:IEmployeeService_AddWife_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPassportInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AddPassportInfo" message="tns:IEmployeeService_AddPassportInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AddPassportInfoResponse" message="tns:IEmployeeService_AddPassportInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Save" message="tns:IEmployeeService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SaveResponse" message="tns:IEmployeeService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetList" message="tns:IEmployeeService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetListResponse" message="tns:IEmployeeService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Delete" message="tns:IEmployeeService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteResponse" message="tns:IEmployeeService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteById" message="tns:IEmployeeService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteByIdResponse" message="tns:IEmployeeService_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetById" message="tns:IEmployeeService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetByIdResponse" message="tns:IEmployeeService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWife">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AddWife" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPassportInfo">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AddPassportInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost/WcfAPI/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>