Mvc4.Test/Service References/EmployeeService/EmployeeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfAPI/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" />
  <xs:element name="AddWife">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="employee" nillable="true" type="q1:Employee" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="wife" nillable="true" type="q2:Wife" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWifeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPassportInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="employee" nillable="true" type="q3:Employee" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="passportInfo" nillable="true" type="q4:PassportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPassportInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="obj" nillable="true" type="q5:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="GetListResult" nillable="true" type="q6:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="obj" nillable="true" type="q7:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/com.minsoehanwin.sample.Wcf.Service" minOccurs="0" name="GetByIdResult" nillable="true" type="q8:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>